body {
    background-color: rgba(248, 227, 227, 0.637);

}

span {
    font-size: 18px;
}

a {
    border-bottom: 2px solid blue;
    text-decoration: none;
    color: blue;
}

.box-part {
    background-color: white;
    padding: 30px 5px;
    margin: 20px 0px;

}

.fa {
    color: blue;
}

.box {
    padding: 60px 0px;

}

.text {
    margin: 20px 0px;
}